form {
  margin: auto;
  padding: 1em;
  margin-top: 1em;

  @media (min-width: 992px) {
    margin: auto;
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }

  fieldset {
    border: 1px solid black;
    box-shadow: 0.2em 0.2em 0.2em 0 lightgrey;
    text-align: center;

    > legend {
      text-align: left;
    }

    > * {
      margin-bottom: 1em;
      margin-left: 1em;
      margin-right: 1em;
    }
  }
}
