<form #form="ngForm">
  <div>
    <fc-button (clicked)="form.valid && restart$.next()">
      Restart&nbsp;&nbsp;<icon
        size="1em"
        type="refresh"
        [fill]="['247000', '000000']"
      ></icon>
    </fc-button>
  </div>
  <br />
  <fieldset>
    <legend title="Settings">
      Settings <icon
        size="1em"
        type="gear"
        [fill]="['247000', '000000']"
      ></icon>
    </legend>
    <div id="settings">
      <div>
        <label>
          Quick game
        </label>
        <div>
          <fc-button (clicked)="clickDifficulty(1)">
            Easy
          </fc-button>
          <fc-button (clicked)="clickDifficulty(2)">
            Medium
          </fc-button>
          <fc-button (clicked)="clickDifficulty(3)">
            Hard
          </fc-button>
        </div>
      </div>
      <div>
        <fc-number
          [(ngModel)]="model.rows"
          (ngModelChange)="form.valid && restart$.next()"
          name="rows"
          [min]="minRows"
          [max]="maxRows"
        >
          Rows <icon
            size="1em"
            type="row"
            [fill]="['247000', '000000']"
          ></icon>
        </fc-number>
        <fc-number
          [(ngModel)]="model.columns"
          (ngModelChange)="form.valid && restart$.next()"
          name="columns"
          [min]="minColumns"
          [max]="maxColumns"
        >
          Columns <icon
            size="1em"
            type="column"
            [fill]="['247000', '000000']"
            fillRotate
          ></icon>
        </fc-number>
        <fc-number
          [(ngModel)]="model.mines"
          (ngModelChange)="form.valid && restart$.next()"
          name="mines"
          [min]="1"
          [max]="maxMines"
        >
          Mines <icon
            size="1em"
            type="bomb"
            [fill]="['247000', '000000']"
          ></icon>
        </fc-number>
      </div>
    </div>
  </fieldset>
  <!-- <fieldset>
    <legend title="Ghost Settings">
      <icon
        size="1em"
        type="user"
        [fill]="['247000', '000000']"
      ></icon> Ghost Settings
    </legend>
    <div id="ghost-settings">
      <fc-choice
        [(ngModel)]="model.isBotEnabled"
        (ngModelChange)="form.valid && restart$.next()"
        name="isBotEnabled"
        [items]="booleans"
      >
        Let me play
      </fc-choice>
      <fc-choice
        [(ngModel)]="model.botSpeed"
        name="botSpeed"
        [items]="botSpeeds"
      >
        Speed
      </fc-choice>
    </div>
  </fieldset> -->
</form>
