<form #form="ngForm">
  <div>
    <fc-button (action)="form.valid && restart$.next()">
      Restart 🔄
    </fc-button>
  </div>
  <br />
  <fieldset>
    <legend title="Settings">
      Settings ⚙️
    </legend>
    <div>
      <fc-integer
        [(ngModel)]="model.rows"
        label="Rows ↔️"
        name="rows"
        (ngModelChange)="form.valid && restart$.next()"
        [min]="2"
        [max]="20"
      ></fc-integer>
      <fc-integer
        [(ngModel)]="model.columns"
        label="Columns ↕️"
        name="columns"
        (ngModelChange)="form.valid && restart$.next()"
        [min]="2"
        [max]="20"
      ></fc-integer>
      <fc-integer
        [(ngModel)]="model.mines"
        label="Mines 💣"
        name="mines"
        (ngModelChange)="form.valid && restart$.next()"
        [min]="1"
        [max]="model.rows * model.columns - 1"
      ></fc-integer>
      <fc-toggle
        [(ngModel)]="model.isBotEnabled"
        label="Bot Play 👻"
        name="isBotEnabled"
        (ngModelChange)="form.valid && restart$.next()"
      ></fc-toggle>
    </div>
  </fieldset>
</form>
