form {
  margin: auto;
  padding: 2em 1em;
  max-width: 500px;

  > * {
    margin-bottom: 1em;
  }

  > div {
    text-align: center;
    > fc-button {
      display: inline-block;
    }
    > label {
      color: whitesmoke;
    }
    :not(:last-child) {
      margin-right: 0.5em;
    }
  }

  fieldset {
    padding: 1em;
    border: 1px solid black;
    border-radius: 0.5em;
    box-shadow: 0.2em 0.2em 0.2em 0 black;

    > div {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1em;

      @media (max-width: 520px) {
        grid-template-columns: 1fr;
      }
    }
  }
}
