<form [formGroup]="menuService.form">
  <span>
    <label>Rows</label> <input type="number" formControlName="rows" />
  </span>
  <span>
    <label>Columns</label> <input type="number" formControlName="columns" />
  </span>
  <span>
    <label>Mines</label> <input type="number" formControlName="mines" />
  </span>
  <span>
    <label>Bot Enabled</label>
    <input type="checkbox" formControlName="isBotEnabled" />
  </span>
  <span>
    <label>Bot Speed</label> <input type="number" formControlName="botSpeed" />
  </span>
</form>
