.container {
  display: grid;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .cell {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
  }
}

.hidden {
  background-color: #000;
  cursor: pointer;
}
.mark {
  background-color: #e94858;
  color: #e94858;
  cursor: not-allowed;
}

.flashy {
  background-color: #f3a32a;
}

.inspected {
  background-color: #3cb4cb;
}
