<div id="overflow">
  <div
    id="game"
    [style.grid-auto-rows]="gridAutoSize"
    [style.grid-auto-columns]="gridAutoSize"
  >
    <ms-cell
      *ngFor="let cell of game.grid"
      [cell]="cell"
      [isDisabled]="form.isBotEnabled || !allowClicks"
      [style.grid-column]="cell.x + 1"
      [style.grid-row]="cell.y + 1"
      (check)="check(cell)"
      (scan)="scan(cell)"
    ></ms-cell>
  </div>
</div>
<footer>
  <div class="stats">
    <small>
      {{percentStillHidden}}% progress
    </small>
    <small>
      {{percentMines}}% danger
    </small>
  </div>
  <ms-form
    [model]="form"
    [disabled]="!allowClicks"
    (restart)="newGame()"
  ></ms-form>
</footer>