#game {
  display: grid;
  justify-content: center;
  min-width: fit-content;
}

#overflow {
  overflow: auto;
  max-height: 100vh;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin: 0.25em 0.5em;
  color: whitesmoke;

  > div {
    color: red;
    text-align: center;
  }
}
