#game {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
}

ms-form {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;

  @media (min-width: 992px) {
    margin: auto;
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }
}