button {
  width: 100%;
  height: 100%;
  background: white;
  border-color: #dddddd;
  border-width: medium;
  font-size: x-large;
  padding: 0.1em;

  &.safe {
    border: 0;
  }

  &.hidden {
    background: #dddddd;
    cursor: pointer;

    &.accent {
      background: #d1d1d1;
    }
  }

  &.mark {
    cursor: not-allowed;
  }

  > icon {
    display: block !important;
  }
}
