button {
  width: 100%;
  height: 100%;
  background: white;
  border-color: white;
  border-width: medium;
  font-size: x-large;

  &.safe {
    border: 0;
  }

  &.hidden {
    background: #000;
    cursor: pointer;

    &.accent {
      background: #0a0a0a;
    }
  }

  &.mark {
    cursor: not-allowed;
  }
}
