<button
  *ngIf="cell.hidden"
  type="button"
  class="hidden"
  [class.accent]="(cell.x + cell.y) % 2 === 0"
  [class.mark]="cell.mark"
  [class.bot-focus]="cell.isBotFocus"
  [disabled]="isDisabled"
  (click)="onCheck()"
  (contextmenu)="onMark($event)"
>
  <icon-stack>
    <icon
      *ngIf="cell.mark"
      type="flag"
      [fill]="[themeColor1, themeColor2]"
    ></icon>
    <icon
      *ngIf="isGameOver"
      type="star"
      [fill]="[themeColor1, themeColor2]"
    ></icon>
  </icon-stack>
  <span>
    {{ cell.probability ? (cell.probability * 100).toFixed(0) + '%' : '' }}
  </span>
</button>
<button
  *ngIf="!cell.hidden"
  type="button"
  class="safe"
  [class.bot-focus]="cell.isBotFocus"
  [disabled]="isDisabled"
  (contextmenu)="onScan($event)"
  (dblclick)="onScan($event)"
>
  <icon
    *ngIf="cell.mine"
    type="bomb"
    [fill]="[themeColor1, themeColor2]"
    stroke="FFFFFF"
  ></icon>
  <span *ngIf="!cell.mine">
    {{ cell.score }}
  </span>
</button>
