<button
  *ngIf="cell.hidden === true"
  type="button"
  class="hidden"
  [class.accent]="(cell.x + cell.y) % 2 === 0"
  [class.mark]="cell.mark"
  [disabled]="isDisabled"
  (click)="onCheck()"
  (contextmenu)="onMark($event)"
>
  <icon
    *ngIf="cell.mark"
    size="1em"
    type="flag"
    [fill]="['E50B00', 'FFFFFF']"
  ></icon>
</button>
<button
  *ngIf="cell.hidden === false"
  type="button"
  class="safe"
  [disabled]="isDisabled"
  (contextmenu)="onScan($event)"
  (dblclick)="onScan($event)"
>
  {{ cell.score }}
</button>
