/* You can add global styles to this file, and also import other style files */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: linear-gradient(45deg, #000000, #501300) 0 0 / 1000vw 1000vh;
  animation: 10s ease 0s infinite gradient;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@keyframes gradient {
  0%,
  100% {
    background-position: 0 50%;
  }
  50% {
    background-position: 50% 50%;
  }
}
